In [1]:
# Import the dependencies.
import pandas as pd
import numpy as np
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Taoudenni,ML,2020-08-16 23:06:45,22.68,-3.98,105.39,7,0,12.59
1,1,Tongren,CN,2020-08-16 23:06:45,27.72,109.19,73.51,86,18,1.12
2,2,Hermanus,ZA,2020-08-16 23:06:46,-34.42,19.23,44.01,91,100,1.01
3,3,Nuuk,GL,2020-08-16 23:06:46,64.18,-51.72,53.60,46,0,6.93
4,4,Norman Wells,CA,2020-08-16 23:03:56,65.28,-126.83,57.20,67,75,4.70
...,...,...,...,...,...,...,...,...,...,...
541,541,Banjar,ID,2020-08-16 23:09:08,-8.19,114.97,78.80,100,75,8.05
542,542,Tabuleiro Do Norte,BR,2020-08-16 23:09:08,-5.25,-38.13,76.84,70,29,7.74
543,543,Troitskoye,RU,2020-08-16 23:09:09,52.98,84.68,56.37,94,0,6.53
544,544,Omsk,RU,2020-08-16 23:05:17,55.00,73.40,62.60,72,75,13.42
545,545,Nioki,CD,2020-08-16 23:09:09,-2.72,17.68,80.58,67,88,3.20

In [3]:
city_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546 entries, 0 to 545
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City_ID     546 non-null    int64
 1   City        546 non-null    object
 2   Country     539 non-null    object
 3   Date        546 non-null    object
 4   Lat         546 non-null    float64
 5   Lng         546 non-null    float64
 6   Max Temp    546 non-null    float64
 7   Humidity    546 non-null    int64
 8   Cloudiness  546 non-null    int64
 9   Wind Speed  546 non-null    float64
dtypes: float64(4), int64(3), object(3)
memory usage: 42.8+ KB

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# # Heatmap of temperature

# # 1. Assign the locations to an array of latitude and longitude pairs.
# locations = city_data_df[["Lat, "Lng"]]
# # 2. Assign the weights variable to some values.
# temperatures = # an array of equal length of the locations array
# # 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()
# # 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# # 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)
# # 6. Call the figure to plot the data.
# fig

In [9]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [21]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
humidity = city_data_df["Humidity"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
clouds = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
wind = city_data_df["Wind Speed"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [29]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Atuona,PF,2020-08-16 23:06:47,-9.80,-139.03,78.28,75,5,16.11
7,7,Sao Filipe,CV,2020-08-16 23:06:47,14.90,-24.50,80.01,80,88,9.78
9,9,Albany,US,2020-08-16 23:06:45,42.60,-73.97,75.00,60,27,6.87
10,10,San Policarpo,PH,2020-08-16 23:06:48,12.18,125.51,80.37,82,97,3.67
12,12,Isangel,VU,2020-08-16 23:06:48,-19.55,169.27,75.20,83,90,12.19
14,14,Butaritari,KI,2020-08-16 23:05:51,3.07,172.79,81.10,63,99,1.12
15,15,Santa Rosa,PH,2020-08-16 23:06:49,14.31,121.11,79.00,94,69,6.93
25,25,Kapaa,US,2020-08-16 23:06:51,22.08,-159.32,82.40,74,90,11.41
29,29,Sur,OM,2020-08-16 23:06:52,22.57,59.53,89.38,56,97,6.44
34,34,Hithadhoo,MV,2020-08-16 23:06:54,-0.60,73.08,83.62,69,87,4.12

In [30]:
preferred_cities_df.count()

City_ID       185
City          185
Country       185
Date          185
Lat           185
Lng           185
Max Temp      185
Humidity      185
Cloudiness    185
Wind Speed    185
dtype: int64

In [32]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp    Lat     Lng Hotel Name
5          Atuona      PF     78.28  -9.80 -139.03
7      Sao Filipe      CV     80.01  14.90  -24.50
9          Albany      US     75.00  42.60  -73.97
10  San Policarpo      PH     80.37  12.18  125.51
12        Isangel      VU     75.20 -19.55  169.27
14     Butaritari      KI     81.10   3.07  172.79
15     Santa Rosa      PH     79.00  14.31  121.11
25          Kapaa      US     82.40  22.08 -159.32
29            Sur      OM     89.38  22.57   59.53
34      Hithadhoo      MV     83.62  -0.60   73.08

In [47]:
# Set parameters to search for a hotel.
params = {
    "radius": 8000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [50]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Atuona,PF,78.28,-9.80,-139.03,Villa Enata
7,Sao Filipe,CV,80.01,14.90,-24.50,Tortuga B&B
9,Albany,US,75.00,42.60,-73.97,The Inn at Deer Meadow
10,San Policarpo,PH,80.37,12.18,125.51,Zal-Ann Beach Resort
12,Isangel,VU,75.20,-19.55,169.27,Volcano Sea View Tree House
14,Butaritari,KI,81.10,3.07,172.79,Isles Sunset Lodge
15,Santa Rosa,PH,79.00,14.31,121.11,El Cielito Hotel - Sta. Rosa
25,Kapaa,US,82.40,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
29,Sur,OM,89.38,22.57,59.53,Sur Plaza Hotel
34,Hithadhoo,MV,83.62,-0.60,73.08,Scoop Guest House

In [52]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(marker_layer)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [54]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [55]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))