## Deliverable 2. Create a Customer Travel Destinations Map.

In [6]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [7]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rio De Janeiro,BR,-22.90,-43.21,75.20,78,100,13.87,moderate rain
1,1,Santa Isabel Do Rio Negro,BR,-0.41,-65.02,78.06,83,83,1.43,light rain
2,2,Honiara,SB,-9.43,159.95,87.80,70,20,6.93,few clouds
3,3,Misratah,LY,32.38,15.09,82.89,57,0,8.50,clear sky
4,4,Torbay,CA,47.67,-52.73,66.00,68,90,13.87,overcast clouds

In [8]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 90

In [13]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
nice_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
nice_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Honiara,SB,-9.43,159.95,87.80,70,20,6.93,few clouds
3,3,Misratah,LY,32.38,15.09,82.89,57,0,8.50,clear sky
13,13,Cockburn Town,TC,21.46,-71.14,84.20,79,40,5.82,scattered clouds
26,26,Kavaratti,IN,10.57,72.64,81.28,81,94,11.61,light rain
28,28,Dicabisagan,PH,17.08,122.42,81.34,79,97,1.66,overcast clouds

In [14]:
# 4a. Determine if there are any empty rows.
nice_cities_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 145 entries, 2 to 716
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City_ID              145 non-null    int64
 1   City                 145 non-null    object
 2   Country              145 non-null    object
 3   Lat                  145 non-null    float64
 4   Lng                  145 non-null    float64
 5   Max Temp             145 non-null    float64
 6   Humidity             145 non-null    int64
 7   Cloudiness           145 non-null    int64
 8   Wind Speed           145 non-null    float64
 9   Current Description  145 non-null    object
dtypes: float64(4), int64(3), object(3)
memory usage: 12.5+ KB

In [17]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
nice_cities_df = nice_cities_df.dropna()

In [18]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = nice_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Honiara,SB,87.80,few clouds,-9.43,159.95,
3,Misratah,LY,82.89,clear sky,32.38,15.09,
13,Cockburn Town,TC,84.20,scattered clouds,21.46,-71.14,
26,Kavaratti,IN,81.28,light rain,10.57,72.64,
28,Dicabisagan,PH,81.34,overcast clouds,17.08,122.42,
33,Nishihara,JP,87.80,scattered clouds,26.18,127.76,
51,Butaritari,KI,81.95,clear sky,3.07,172.79,
54,Kapaa,US,86.00,few clouds,22.08,-159.32,
61,Quesnel,CA,89.60,clear sky,53.00,-122.50,
62,Wilmington,US,82.40,clear sky,34.23,-77.94,

In [19]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
# Check for any null hotel values before step 7.
hotel_df.isnull().sum()

City                   0
Country                0
Max Temp               0
Current Description    0
Lat                    0
Lng                    0
Hotel Name             0
dtype: int64

In [27]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis=0, how="any")
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Honiara,SB,87.80,few clouds,-9.43,159.95,Heritage Park Hotel
3,Misratah,LY,82.89,clear sky,32.38,15.09,فندق الماسة
13,Cockburn Town,TC,84.20,scattered clouds,21.46,-71.14,Osprey Beach Hotel
26,Kavaratti,IN,81.28,light rain,10.57,72.64,Bismillah Hotel And Lodging
28,Dicabisagan,PH,81.34,overcast clouds,17.08,122.42,
...,...,...,...,...,...,...,...
682,Santo Domingo,DO,86.00,scattered clouds,18.50,-69.99,Micro Hotel Condo Suites
690,Gigmoto,PH,83.23,overcast clouds,13.78,124.39,Cj's Travellers Inn
698,Bucerias,MX,86.00,overcast clouds,20.75,-105.33,Villa del Palmar Flamingos Beach Resort & Spa ...
702,New Iberia,US,89.60,clear sky,30.00,-91.82,La Quinta Inn & Suites by Wyndham New Iberia
716,Cameta,BR,83.21,broken clouds,-2.24,-49.50,Hotel San Juan

In [29]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [33]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [37]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.8)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))