## Deliverable 3. Create a Travel Itinerary Map.

In [144]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [145]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Rio De Janeiro,BR,75.20,moderate rain,-22.90,-43.21,Windsor Guanabara Hotel
1,1,Santa Isabel Do Rio Negro,BR,78.06,light rain,-0.41,-65.02,Hotel GSA
2,2,Honiara,SB,87.80,few clouds,-9.43,159.95,Heritage Park Hotel
3,3,Misratah,LY,82.89,clear sky,32.38,15.09,فندق الماسة
4,8,Atuona,PF,78.66,light rain,-9.80,-139.03,Villa Enata

In [146]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [147]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.8)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [148]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Bud"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Bud"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Hamilton"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Worthington"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Allen"]

In [149]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
114,348,Bud,US,81.0,scattered clouds,39.45,-86.18,Madsion Scouts Camp

In [150]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(vacation_start[["Lat","Lng"]].to_numpy()[0])
end = tuple(vacation_end[["Lat","Lng"]].to_numpy()[0])
stop1 = tuple(vacation_stop1[["Lat","Lng"]].to_numpy()[0])
stop2 = tuple(vacation_stop2[["Lat","Lng"]].to_numpy()[0])
stop3 = tuple(vacation_stop3[["Lat","Lng"]].to_numpy()[0])

In [151]:
# Check values

print(start)
print(end)
print(stop1)
print(stop2)
print(stop3)

(39.45, -86.18)
(39.45, -86.18)
(39.18, -84.53)
(40.09, -83.02)
(41.07, -85.01)

In [152]:
import gmaps.datasets

In [156]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure(center=(40, -84.5), zoom_level=6.5)
mapit = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode="DRIVING", stroke_color="blue")
fig.add_layer(mapit)
fig

Figure(layout=FigureLayout(height='420px'))

In [131]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,348,Bud,US,81.0,scattered clouds,39.45,-86.18,Madsion Scouts Camp
1,289,Hamilton,US,82.4,scattered clouds,39.18,-84.53,Six Acres Bed & Breakfast
2,655,Worthington,US,81.0,scattered clouds,40.09,-83.02,Sheraton Suites Columbus
3,681,Allen,US,78.8,broken clouds,41.07,-85.01,Holiday Inn Express Fort Wayne-East (New Haven)

In [132]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [141]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(40.5, -84.5), zoom_level=7)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))